{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="containerCampus">
    <h3>Mot de passe perdu ?</h3>


    {{ form_start(requestForm) }}
        {{ form_row(requestForm.mail) }}

            <small>
                Veuillez entrez vote adresse , un email vous sera envoyé pour redefinir votre mot de passe
            </small>


        <button class="btn btn-primary">Confirmez</button>
    {{ form_end(requestForm) }}

    </div>
{% endblock %}
