body{
    background-color: #032757;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Merriweather', serif;
    color: #DDDDDD;
}

.logo{
    background-image: url('../img/logoHeaderFini2.png');
    /*background-size: cover; !* Ajuste la taille de l'image pour couvrir tout le div *!*/
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
    width: 132px; /* Remplacez la valeur par la largeur souhaitée */
    height: 145px; /* Remplacez la valeur par la hauteur souhaitée */
}

/*.container {*/
/*    max-width: 1300px;*/
/*    margin: auto;*/
/*    padding: 1px;*/
/*}*/

.containerMain{
    max-width: 1300px;
    display: flex;
    margin-bottom: 80px;
}


.containerCampus{
    max-width: 1500px;
    min-width: 700px;
    margin: auto;
    padding: 1px;
}

.header{
    display: flex;
    justify-content: left;
    margin: 0;
    align-items: center;
}

.footer{
    margin-top: auto;
    position: relative;
    width: 100%;
}

.link_button{
    border: 2px solid blue;
    margin: 5px;
    padding: 5px;
    border-radius: 30% 5%;
}

.list-group{

    background-color: #032757;
}

.flex_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_between{
    justify-content: space-between;
}
/* Modification des couleurs des liens */

a:link{
    color: #DDDDDD;

}

.champShow{
    width: 550px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

option {
    padding: 5px;
}

.dropdown-menu{
    background-color: #032757;
}

/*Couleur lors du hover dans le menu dropdown down*/
.dropdown-menu >  a:hover, .dropdown-menu >  a:focus {
    background-color: #032757;
}

.hide_on_small{
    display: block;
}

@media (max-width: 767px) {/* Ecran de petite taille */
    .hide_on_small{
        display: none;/* Masque l'élement sur de petits écrans */
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        background-image: url('../img/logoSmartphone.png');
        background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
        width: 76px; /* Remplacez la valeur par la largeur souhaitée */
        height: 81px; /* Remplacez la valeur par la hauteur souhaitée */
    }

    body{
        font-size: x-small;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table-responsive table {
        max-height: 100%;
    }

    .table-responsive td {
        height: 50px; /* Modifier la hauteur selon vos besoins */
    }

    .buttonResponsive{
        font-size: xx-small;
        width: 10vw;
        padding: 0;
    }

}

@media (max-width: 990px) {/* Ecran de type tablette */

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .logo{
        background-image: url('../img/logoSmartphone.png');
        background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
        width: 76px; /* Remplacez la valeur par la largeur souhaitée */
        height: 81px; /* Remplacez la valeur par la hauteur souhaitée */
    }

    body{
        font-size: x-small;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table-responsive table {
        max-height: 100%;
    }

    .table-responsive td {
        height: 50px; /* Modifier la hauteur selon vos besoins */
    }

    .responsiveHide{
        display: none;
    }

    .buttonResponsive{
        font-size: x-small;
        width: 12vw;
    }

}

.input {
    border: none;
    outline: none;
    box-shadow: none;
}