body{
    background-color: #032757;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Merriweather', serif;
    color: #DDDDDD;
}



.container {
    max-width: 1200px;
    margin: auto;
    padding: 1px;
}

.containerMain{
    max-width: 500px;
    display: flex;

}


.containerCampus{
    max-width: 600px;
    margin: auto;
    padding: 1px;
}

.header{
    display: flex;
    justify-content: left;
}


