{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Ajouter une Sortie{% endblock %}

{% block body %}


<div class="containerAjoutSortie">
    {{ form(sortieForm) }}
</div>
{% endblock %}
