{% extends 'base.html.twig' %}

{% block body %}

    <h2>Modifier la sortie</h2>
    <br>
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        {{ form_end(sortieForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

