{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(userPasswordForm) }}

        <button type="submit" class="btn btn-success mt-2">Enregistrer</button>

    {{ form_end(userPasswordForm) }}
</div>
{% endblock %}

{% block title %}

{% endblock %}

